{% extends '@AddressBook/base.html.twig' %}

{% block body %}
   <div style="float: right"> <a href="{{ path('create') }}" class="btn btn-default btn-sm">Add Address</a>
   </div>
    <table class="table table-hover table-responsive">

        <thead>
            <tr>

                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Picture</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for address in addressbook %}
            <tr>

                <td>{{ address.firstName }}</td>
                <td>{{ address.lastName }}</td>
                <td>{{ address.email }}</td>
                <td>{{ address.phoneNumber }}</td>
                <td><img src="{{ asset('pictures/') }}{{address.picture}}" width="100" height="100"></td>
                <td>
                    <a href="{{ path('edit', { 'id': address.id }) }}" class="btn btn-default btn-sm">Edit</a>
                    <a href="{{ path('delete', { 'id': address.id }) }}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}